<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>611 Web App</b></a>
    </div>
  </div>
</nav>
