<br>
<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <form>
      <div class="form-group">
          <label class="switch">
            <input type="checkbox"><span class="slider round"></span>
          </label>
      </div>
      <br><br>
      <div class="col-md-4">
        <div class="form-group">
          <label class="switch">
            <input type="checkbox"><span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          test
        </div>
      </div>
    </form>

  </div>
</div>
